html, body{
    scroll-behavior: smooth;
}

.header{
    background-image: url("/imgs/hero.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 625px;
}

.header-container{
    max-width: 400px;
    margin:0px auto;
    display: flex;
    justify-content: center;
}

.header-link{
    font-family: 'Ruda';
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 130%;
    color: #FFFFFF;
    text-decoration: none;
    margin: 24px 32px;
    height: 100%;
}
.header-link:hover{
    text-decoration: underline;
}

.hero-container{
    margin: 245px 0px 0px 135px;
}

.hero-text{
    font-family: 'sinkin_sans500_medium';
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 130%;
    color: #FFFFFF;
}

.hero-text span{
    font-family: 'sinkin_sans900_x_black';
    font-weight: 900;
}

.section-title{
    font-family: 'sinkin_sans900_x_black';
    font-style: normal;
    font-weight: 900;
    font-size: 21px;
    line-height: 130%;
    color: #348EC7;
}

.section-text{
    font-family: 'Ruda';
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 150%;
    color: #0E4972;
}

.button{
    font-family: 'Ruda';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    text-decoration: none;
    text-transform: uppercase;
    color: #FFFFFF;
    background: #348EC7;
    border-radius: 10px;
    padding: 20px 0px;
    display:flex;
    max-width: 370px;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
}

.button img{
    margin-right: 12px;
}

.button:hover{
    background-color: #0E4972;
}

.section-container{
    max-width: 1170px;
    margin: 0px auto;
}

.about{
    margin: 88px 0 96px;
}

.about-title{
    margin-bottom: 32px;
}

.about-content-container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.about-text-container{
    max-width: 400px;
    min-width: 272px;
    width: 100%;
}

.about-text{
    margin-bottom: 48px;
}

.about-item-container{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    max-width: 680px;
}

.about-item{
    width: 200px;
    display: flex;
    align-items: center;
}

.about-item-image{
    margin-right: 16px;
}

.about-item-text{
    font-family: 'sinkin_sans400_regular';
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 150%;
    color: #0E4972;
}

.roadmap-subtitle , .exclusive-roadmap-subtitle{
    margin-top: 8px;
    color: #348EC7;
}


.roadmap-carousel{
    margin: 34px 0 72px;
}

.exclusive-roadmap-card-container{
    margin: 34px 0 72px;
    display: flex;
    justify-content: space-around;
}

.exclusive-roadmap-card-container{
    flex-wrap: wrap;
}

.roadmap-card, .exclusive-roadmap-card{
    width: 270px;
}

.exclusive-roadmap-card{
    margin: 0 12px 24px 0;
}

.card-title{
    font-family: 'sinkin_sans400_regular';
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 150%;
    color: #979797;
    margin-top: 16px;
}

.boat-details{
    margin-bottom: 72px;
}

.boat-details-title{
    margin-bottom: 32px;
}

.boat-details-cards-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.boat-details-card{
    width: 270px;
    margin: 0 12px 24px 0;
}

.boat-details-card img{
    width: 270px;
}

.boat-details-card-title{
    margin: 16px 0 8px;
}

.lunch{
    margin-bottom: 72px;
}

.lunch-container{
    background-image: url("/imgs/food-banner.jpg");
    height: 400px;
    border-radius: 10px;
}

.lunch-text-container{
    max-width: 400px;
    padding: 88px 0px 0px 69px;
}

.lunch-title{
    font-family: 'sinkin_sans900_x_black';
    font-style: normal;
    font-weight: 900;
    font-size: 32px;
    line-height: 130%;
    color: #104972;
    margin-bottom: 32px;
}

.details{
    margin-bottom: 72px;
}

.details-title{
    margin-bottom: 32px;
}

.details-itens{
    border: 1px solid #E5E5E5;
    box-sizing: border-box;
    border-radius: 10px;
    padding: 0px 40px;
}

.details-item{
    border-bottom: 1px solid #E5E5E5;
}

.details-item , .details-item-last{
    display: flex;
    padding: 32px 0px;
}

.details-item-title{
    font-family: 'sinkin_sans400_regular';
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 150%;
    color: #979797;
    margin-right: 30px;
    width: 230px;
}

.details-item .section-text , .details-item-last .section-text{
    max-width: 830px;
}

.footer{
    background: #FAFAFA;
    padding: 72px 135px 97px;
    display: flex;
    justify-content: space-between;
}

.footer-contact{
    max-width: 370px;
    min-width: 308px;
    width: 100%;
    margin-right: 32px;
}

.footer-title{
    margin-bottom: 32px;
}

.footer-subtitle{
    font-family: 'sinkin_sans400_regular';
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 150%;
    color: #979797;
    margin-bottom: 16px;
}

.footer-text{
    font-family: 'Ruda';
    font-style: normal;
    font-weight: normal;
    font-size: 21px;
    line-height: 150%;
    color: #0E4972;
    margin-bottom: 24px;
}

.footer .button{
    margin-bottom: 32px;
}

.footer .button:hover{
    background-color: #0E4972;
}

.social-media-link{
    margin-right: 24px;
}

.footer-map{
    border-radius: 10px;
    max-width: 670px;
    min-width: 307px;
    width: 100%;
    height: 210px;
}

.show_about_desktop{
    display: flex;
}
.show_about_mobile{
    display: none;
}
.lunch-mobile-banner{
    display: none;
}

@media only screen and (max-width:1218px){
    .section-container {
        margin: 0px 26px;
    }
}

@media only screen and (max-width:1131px){
    .about{
        margin: 42px 0 56px;
    }
    .about-content-container{
        justify-content: center;
    }
    .about-text-container{
        max-width: none;
    }
    .about-item-container{
        max-width: none;
        justify-content: center;
    }
    .about-text{
        margin-bottom: 28px;
    }
    .about-item{
        margin: 12px 17px;
    }
    .show_about_desktop{
        display: none;
    }
    .show_about_mobile{
        display: flex;
        margin: 40px auto 0px;
    }
    .lunch-container{
        background-position-x: -50px;
    }
}

/* LAPTOP */
@media only screen and (max-width:1024px){
    .hero-container {
        margin: 245px 0px 0px 60px;
    }
    .lunch-container{
        background-position-x: -150px;
    }
    .footer {
        padding: 72px 24px 97px;
    }
}

@media only screen and (max-width:960px){
    .lunch-container{
        background-color: #0E4972;
        background-image: none;
        border-radius: 10px 10px 0px 0px;
        height: 340px;
        width: 308px;
        margin: 0px auto;
    }
    .lunch-text-container{
        margin: 0px auto;
        padding: 24px 17px;
    }
    .lunch-text-container h2, .lunch-text-container p{
        color: #FFFFFF;
    }
    .lunch-mobile-banner{
        display: block;
        width: 308px;
        margin: 0px auto !important;
    }
}

/* TABLET */
@media only screen and (max-width:768px){
    .section-title{
        font-size: 16px;
    }
    .section-text{
        font-size: 14px;
    }
    .card-title{
        font-size: 12px;
    }
    .header{
        height: 360px;
    }
    .header-link{
        margin: 16px;
    }
    .hero-container {
        margin: 150px 0px 0px 26px;
    }
    .hero-text {
        font-size: 16px;
    }
    .header-logo{
        max-height: 112px;
    }
    .about-item-image{
        height: 48px;
    }
    .about-item {
        margin: 12px 8px;
    }
    .boat-details{
        margin-bottom: 56px;
    }
    .boat-details-card{
        margin: 16px;
        width: 307px;
    }
    .boat-details-card img{
        width: 307px;
    }
    .lunch{
        margin-bottom: 56px;
    }
    .lunch-title{
        font-size: 16px;
    }
    .lunch-container{
        height: 240px;
    }
    .lunch-text-container{
        width: 250px;
    }
    .exclusive-roadmap-card-container{
        margin-bottom: 34px;
    }
    .details{
        margin-bottom: 40px;
    }
    .details-item, .details-item-last{
        display: block;
        padding: 24px 0px;
    }
    .details-itens{
        padding: 0px 24px;
    }
    .details-item-title{
        margin-bottom: 8px;
        font-size: 12px;
    }
    .footer {
        padding: 40px 24px 42px;
        justify-content: center;
        flex-wrap: wrap;
    }
    .footer-subtitle{
        font-size: 12px;
    }
    .footer-text{
        font-size: 16px;
    }
    .footer-title{
        margin-bottom: 24px;
    }
    .footer-address{
        margin-top: 32px;
    }
    .footer-contact{
        margin-right: 0px;
    }
}

@media only screen and (max-width:483px){
    .about-item-container{
        justify-content:flex-start
    }
    .boat-details-card img{
        width: 272px;
    }
}

/* Glider Carousel */
.glider-dots{
    margin: 20px auto 0;
}
.glider-dot.active{
    background: #348EC7;
}